[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ecotraj"]
	path = ecotraj
	url = https://github.com/emf-creaf/ecotraj
	shallow = true
	registered = true
[submodule "indicspecies"]
	path = indicspecies
	url = https://github.com/emf-creaf/indicspecies
	shallow = true
	registered = true
[submodule "vegclust"]
	path = vegclust
	url = https://github.com/emf-creaf/vegclust
	shallow = true
	registered = true
