[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ecotraj"]
	path = ecotraj
	url = https://github.com/emf-creaf/ecotraj
[submodule "indicspecies"]
	path = indicspecies
	url = https://github.com/emf-creaf/indicspecies
[submodule "medfate"]
	path = medfate
	url = https://github.com/emf-creaf/medfate
[submodule "medfateland"]
	path = medfateland
	url = https://github.com/emf-creaf/medfateland
[submodule "meteoland"]
	path = meteoland
	url = https://github.com/emf-creaf/meteoland
[submodule "meteospain"]
	path = meteospain
	url = https://github.com/emf-creaf/meteospain
[submodule "vegclust"]
	path = vegclust
	url = https://github.com/emf-creaf/vegclust
